# ==========================
# Server
# ==========================
PORT=8080
NODE_ENV=development

# ==========================
# Database
# ==========================
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_root_password
DB_NAME=uteshop

# ==========================
# JWT
# ==========================
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=7d
TEMP_TOKEN_SECRET=your_temp_token_secret

ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret

# ==========================
# Email (SMTP)
# ==========================
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_email_app_password
EMAIL_FROM=your_email@gmail.com
EMAIL_SERVICE=gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_MOCK=false

# ==========================
# OTP
# ==========================
OTP_EXPIRY=300
OTP_LENGTH=6

# ==========================
# Rate Limit
# ==========================
RATE_LIMIT_WINDOW_MS=3600000
RATE_LIMIT_MAX_REQUESTS=5

# ==========================
# VNPay
# ==========================
VNP_TMNCODE=your_tmn_code
VNP_HASHSECRET=your_hash_secret
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURNURL=http://localhost:8080/api/payment/vnpay-return